.App {
  text-align: center;
}



.input {
	background-color: lightgreen;
}

.App button {
	background-color: blue;
	color: white;
	cursor: pointer;
}

.App button:hover {
	background-color: lightblue;
}
